@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.Container{
    display: flex;
    flex: 1;
}
.CentralContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 85vw;
}
.HeaderContainer{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #444444;
    padding: 0;
}
.logoutBtn{
    position: absolute;
    right: 0;
    margin-left: auto;
    margin-right:20px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.logoBtn{

    cursor: pointer;
    font-family: 'BBH Hegarty' , sans-serif ;
    font-size: larger;
    color: white;
    transition: color 0.2 ease;
}
.ContentConteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #555555;
    height: 95vh;
}
.NameText{
    color: #FFFFFF;
    font-size: 90px;
    font-family: 'BBH Hegarty' , sans-serif ;
}
.DescText{

    color: #FFFFFF;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
}
.ExplText{
    color: #FFFFFF;
    font-size: large;
    font-family: 'Ubuntu', sans-serif;
}
.btn-text{
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;

}
.SideBar{
    display: flex;
    flex-direction: column;
    
    background-color:#333333;
    height: 100vh;
    width: 15vw;
}
.SideBar a {
    color: inherit;
    text-decoration: none;
   
}
.SideBar ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.musculo {
    cursor: pointer;
    margin-bottom: 20px;
    transition: color 0.2s ease;
}

.musculo:hover{
    color: #777777;
}
.MuscleBox{
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    flex: auto;
    text-decoration: none;

}