@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
html, body{
    height: 100%;
    margin: 0;
}
.Container{
    min-height: 100vh;
    display: flex;
}
.CentralContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 85%;
}
.HeaderContainer{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #444444;
    padding: 0;
}
.logoutBtn{
    position: absolute;
    right: 0;
    margin-left: auto;
    margin-right:20px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.logoBtn{

    cursor: pointer;
    font-family: 'BBH Hegarty' , sans-serif ;
    font-size: larger;
    color: white;
    transition: color 0.2 ease;
}
.logoBtn:hover{
    color:#888888
}
.ContentConteiner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    text-align: center;
    background-color: #555555;
    flex: 1;
}
.PreferForm{
    display: flex;
    text-align: left;
    flex-direction:column;
    justify-content: left;
    color: #FFFFFF;
}
.QuestionsForm{
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    margin-bottom: 20px;
    margin-left: 50px
}
.QuestionsForm label{
    margin-right: 15px;
}
.question{
    margin-left: 30px;
    font-size: x-large;
}
.SideBar{
    display: flex;
    flex-direction: column;
    background-color:#333333;
    width: 15%;
}
.SideBar a {
    color: inherit;
    text-decoration: none;
   
}
.SideBar ul {

    list-style: none;
    padding: 20px;
    margin: 0;
}

.musculo {
    cursor: pointer;
    margin-bottom: 20px;
    transition: color 0.2s ease;
}

.musculo:hover{
    color: #777777;
}
.MuscleBox{
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    text-decoration: none;

}